{% extends "default.html" %}
<html>
<body>

	{% block main %}
    <div class="content">
	<p/>
	<form action="/create/" method="post" enctype="multipart/form-data">
            <!-- To prevent CSRF attacks -->
            {% csrf_token %}
			
		
	<!-- The following table contains all the options that a user
		has when creating a new tournament-->
	<table class="tableCenter">
        <tr><td/><td>*indicates required field</td>
		<tr>
            <td>Is Private?:*</td>
			<td><select name="private">
				{% for item in prevPrivate %}
					<option value="{{ item }}">{{ item }}</option>
				{% endfor %}
			</select></td>
			<td><span class="errorMsg">{{ private }}</span></td>
		</tr>
		<tr>
			<td>Signup Start Date:*</td>
			<td><input class="inputDate" type="text" id="inputDate" name="signStartDate" value="2013-11-22"/><label id="closeOnSelect"><input type="checkbox" /> Close on selection</label>
				<br/>{{ dateMsg }}</td>
			<td><span class="errorMsg">{{ signStartDate }}</span></td>
		</tr>
        <tr>
            <td>Signup Start Time</td>
            <td><input type="text" name="signStartTime" value="{{prevSignStartTime}}"/>
                <br/>{{ timeMsg }}</td>
            <td><span class="errorMsg">{{ signStartTime }}</span></td>
        </tr>
		<tr>
            <td>Signup Close Date:*</td>
			<td><input class="inputDate" type="text" id="inputDate" name="signCloseDate" value="2013-11-22"/><label id="closeOnSelect"><input type="checkbox" /> Close on selection</label>
			<br/>{{ dateMsg }}</td>
			<td><span class="errorMsg">{{ signCloseDate }}</span></td>
		</tr>
        <tr>
            <td>Signup Close Time</td>
            <td><input type="text" name="signCloseTime" value="{{prevSignCloseTime}}"/>
                <br/>{{ timeMsg }}
            </td>
            <td><span class="errorMsg">{{ signCloseTime }}</span></td>
        </tr>
		<tr>
            <td>Tournament Open Date:*</td>
			<td><input class="inputDate" type="text" id="inputDate" name="tournyOpenDate" value="2013-11-22"/><label id="closeOnSelect"><input type="checkbox" /> Close on selection</label>
			<br/>{{ dateMsg }}</td>
			<td><span class="errorMsg">{{ tournyOpenDate }}</span></td>
		</tr>
		<tr>
            <td>Tournament Open Time</td>
            <td><input type="text" name="tournyOpenTime" value="{{prevTournyOpenTime}}"/>
                <br/>{{ timeMsg }}
            </td>
            <td><span class="errorMsg">{{ tournyOpenTime }}</span></td>
        </tr>
		<tr>
            <td>Round Length (Hours):*</td>
			<td><select name="roundLength">
				{% for item in prevRoundLength %}
					<option value="{{ item }}">{{ item }}</option>
				{% endfor %}
			</select></td>
			<td><span class="errorMsg">{{ roundLength }}</span></td>
		</tr>
		<td>Quarter Length (Minutes)*</td>
			<td><select name="quarterLength">
				{% for item in prevQuarterLength %}
					<option value="{{item}}">{{ item }} </option>
				{% endfor %}
			</select></td>
			<td><span class="errorMsg">{{quarterLength}}</span></td>
		</tr>
			<td>Difficulty:*</td>
			<td><select name="difficulty">
				{% for item in prevDifficulty %}
					<option value="{{ item.0 }}">{{ item.1 }}</option>
				{% endfor %}
				</select></td>
			<td><span class="errorMsg">{{ difficulty }}</span></td>
		</tr>
		<tr>
		<tr>
            <td>Random By:*</td>
			<td><select name="randomBy">
				{% for item in prevRandomBy %}
					<option	value="{{ item }}">{{ item }}</option>
				{% endfor %}
			</select></td>
			<td><span class="errorMsg">{{ randomBy }}</span></td>
		</tr>
		<tr>
            <td>Your Team:*</td>
			<td><select name="team">
				{% for item in prevteam %}
					<option value="{{ item.0 }}">{{ item.1 }}</option>
				{% endfor %}
				</select></td>
			<td><span class="errorMsg">{{ team }}</span></td>
		</tr>
		
	</table>
	
	<input type="submit" value="Create"/>
	
	</form>
    </div>
	{% endblock main %}
</body>
</html>