{% extends "default.html" %}
<html>
<body>
<div class="content">

	{% block main %}
	<p/>
	<form action="/create/" method="post" enctype="multipart/form-data">
            <!-- To prevent CSRF attacks -->
            {% csrf_token %}
		*indicates required field 	
		
	<!-- The following table contains all the options that a user
		has when creating a new tournament-->
	<table class="tableCenter">
		<tr>
            <td>Is Private?:*</td>
			<td><select name="private">
				{% for item in prevPrivate %}
					<option value="{{ item }}">{{ item }}</option>
				{% endfor %}
			</select></td>
			<td><span class="errorMsg">{{ private }}</span></td>
		</tr>
		<tr>
			<td>Signup Start Date/Time:*</td>
			<td><input type="text" name="signStartDate"/>
				<br/>{{ dateMsg }}</td>
			<td><span class="errorMsg">{{ signStartDate }}</span></td>
		</tr>
		<tr>
            <td>Signup Close Date/Time:*</td>
			<td><input type="text" name="signCloseDate">
			<br/>{{ dateMsg }}</td>
			<td><span class="errorMsg">{{ signCloseDate }}</span></td>
		</tr>
		<tr>
            <td>Tournament Open Date/Time:*</td>
			<td><input type="text" name="tournyOpenDate">
			<br/>{{ dateMsg }}</td>
			<td><span class="errorMsg">{{ tournyOpenDate }}</span></td>
		</tr>
		<tr>
		<tr>
            <td>Round Length (Hours):*</td>
			<td><select name="roundLength">
				{% for item in prevRoundLength %}
					<option value="{{ item }}">{{ item }}</option>
				{% endfor %}
			</select></td>
			<td><span class="errorMsg">{{ roundLength }}</span></td>
		</tr>
		<td>Quarter Length (Minutes)*</td>
			<td><select name="quarterLength">
				{% for item in prevQuarterLength %}
					<option value="{{item}}">{{ item }} </option>
				{% endfor %}
			</select></td>
			<td><span class="errorMsg">{{quarterLength}}</span></td>
		</tr>
			<td>Difficulty:*</td>
			<td><select name="difficulty">
				{% for item in prevDifficulty %}
					<option value="{{ item.0 }}">{{ item.1 }}</option>
				{% endfor %}
				</select></td>
			<td><span class="errorMsg">{{ difficulty }}</span></td>
		</tr>
		<tr>
		<tr>
            <td>Random By:*</td>
			<td><select name="randomBy">
				{% for item in prevRandomBy %}
					<option	value="{{ item }}">{{ item }}</option>
				{% endfor %}
			</select></td>
			<td><span class="errorMsg">{{ randomBy }}</span></td>
		</tr>
		<tr>
            <td>Your Team:*</td>
			<td><select name="team">
				{% for item in prevteam %}
					<option value="{{ item.0 }}">{{ item.1 }}</option>
				{% endfor %}
				</select></td>
			<td><span class="errorMsg">{{ team }}</span></td>
		</tr>
		
	</table>
	
	<input type="submit" value="Create"/>
	
	</form>
	{% endblock main %}
</div>
</body>
</html>