<html>
<link rel="stylesheet" type="text/css" href="/static/layout.css"/>
<body>
	{% block logo %}
	<div>
		<img src="/static/logo.jpg" class="logo"/>
	</div>
	{% endblock logo %}
	
	{% block user %}
	<text>Welcome {{username}}, we hope you enjoy your experience!</text>
	{% endblock user %}
	
	{% block header %}
	<div class="header">
		<a href="/home/">Main Page</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<a href="/create/">Create Tournament</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<a href="/join/">Join Tournament</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<a href="/prevTourn/">View Previous Tournaments</a>
		<p/>{{ message }}
	{% endblock header %}
	</div>
	
	<div>
		{% block main %}
		<p/>
		<span>No main has been set up for this page at this time</span>
		{% endblock main%}
	</div>
	
	
</body>
</html>
