<!-- This HTML page is the standard template that is used by the
	rest of the pages in the site.  Any blocks that are not
	specified in the other pages have the blocks from this
	page automatically loaded-->

<html>
<title>Purple Hat: Online NFL Tournament Tracking</title>
{% block imports %}
<link rel="stylesheet" type="text/css" href="/static/layout.css"/>
<link rel="stylesheet" href="/static/datepicker/css/datepicker.css" type="text/css" />
<script type="text/javascript" src="/static/datepicker/js/jquery.js"></script>
<script type="text/javascript" src="/static/datepicker/js/datepicker.js"></script>
<script type="text/javascript" src="/static/datepicker/js/eye.js"></script>
<script type="text/javascript" src="/static/datepicker/js/utils.js"></script>
<script type="text/javascript" src="/static/datepicker/js/layout.js?ver=1.0.2"></script>
{% endblock imports %}
<body>
	{% block logo %}
	<div>
		<img src="/static/logo.jpg" class="logo"/>
	</div>
	{% endblock logo %}
	
	{% block user %}
	<p>Welcome <b>{{username}}</b>, we hope you enjoy your experience!</p>
	{% endblock user %}
	
	{% block header %}
	<div class="header">
		<a href="/home/">Main Page</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<a href="/create/">Create Tournament</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<a href="/join/">Join Tournament</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<a href="/prevTourn/">View Previous Tournaments</a>
		&nbsp&nbsp&nbsp&nbsp
		<a href="/logoutView/">Logout</a>
		<p/>{{ message }}
	</div>
	{% endblock header %}
    
	
		{% block main %}
            <div>
            <p/>
            <span>No main has been set up for this page at this time</span>
            </div>
		{% endblock main%}
	
	
	
</body>
</html>
