{% extends "default.html" %}
<html>
<body>
	{% block user %}{% endblock user %}
	{% block header %}{% endblock header %}
	{% block main %}
	<div>
	<h1>Forgot Password</h1>
        {% if error %}
            <p><span class="errorMsg">{{ error }}</span></p>
        {% endif %}
	
		<form action="/resetpassword/" method="POST">{% csrf_token %}
				<p>Enter Username: <input type="text" name="username"/></p>
			<input type="submit" value="Next"/>
		</form>
	</div>
	{% endblock main %}
</div>
</body>

</html>
