{% extends "default.html" %}
<html>
<body>
<div class="content">	
	{% block main %}
    <div class="content">
	<div class="main">
		<table id="homeTable">
			<tr>
				<td>Tournaments Played</td>
				<td><input type="label" id="tPlayed" value="xx" disabled /></td>
			</tr>
			<tr>
				<td>Tournaments Won</td>
				<td><input type="label" id="tWon" value="xx" disabled /></td>
			</tr>
			<tr>
				<td>Next Round Starts At</td>
				<td><input type="label" id="tStart" value="Not currently registered for upcoming tournament" disabled /></td>
			</tr>
			<tr>
				<td>Tournaments Registered</td>
				<td>
                {% if not reg %}
                    {{ notreg }}
                {% else %}
                    {% for tourny in reg %} 
                        </td></tr><tr><td>
                        <a href="/view/{{ tourny }}">{{ tourny }}</a>
                    {% endfor %}
                {% endif %}
                </td>
			</tr>
		</table>
	</div>
    </div>
	{% endblock main %}
	
</div>	
</body>
</html>
