{% extends "default.html" %}
<html>
<body>
<div class="content">	
	{% block main %}
    <div class="content">
	<div class="main">
		<table id="homeTable">
			<tr>
				<td>Tournaments Played</td>
				<td><input type="label" id="tPlayed" value="{{played}}" disabled /></td>
			</tr>
			<tr>
				<td>Tournaments Won</td>
				<td><input type="label" id="tWon" value="{{won}}" disabled /></td>
			</tr>
			<!--<tr>
				<td>Next Round Starts At</td>
				<td><input type="label" id="tStart" value="Not currently registered for upcoming tournament" disabled /></td>
			</tr>-->
                {% if reg == None %}
                    <tr>
                        <td></td><td>{{ notreg }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td></td><td>Tournaments Registered</td>
                    </tr>
                    {% for tourny in reg %} 
                        <tr><td></td><td>
                        <a href="/view/{{ tourny }}">{{ tourny }}</a>
                        </td></tr>
                    {% endfor %}
                {% endif %}
		</table>
	</div>
    </div>
	{% endblock main %}
	
</div>	
</body>
</html>
