{% extends "default.html" %}
<html>
<link rel="stylesheet" type="text/css" href="/static/layout.css"/>
<body>
<div class="content">
	{% block logo %} {{block.super}}
	<text>{{firstName}} {{lastName}}</text>
	{% endblock logo %}
	
	{% block main %}
	<div class="main">
		<table id="homeTable">
			<tr>
				<td>Tournaments Played</td>
				<td><input type="label" id="tPlayed" value="xx" disabled /></td>
			</tr>
			<tr>
				<td>Tournaments Won</td>
				<td><input type="label" id="tWon" value="xx" disabled /></td>
			</tr>
			<tr>
				<td>Next Round Starts At</td>
				<td><input type="label" id="tStart" value="Not currently registered for upcoming tournament" disabled /></td>
			</tr>
			<tr>
				<td>Tournaments Registered</td>
				<td><input type="textbox" id="tRegistered" value="" disabled /></td>
			</tr>
		</table>
	</div>
	{% endblock main %}
	
</div>	
</body>
</html>
