{% extends "default.html" %}
<html>
<body>
	{% block main %}
    <div class="content">
	<p/>
	<!-- The following table contains all the tournaments that
	a user is eligable to join-->
    <form action="/join/" method="post" enctype="multipart/form-data">
            <!-- To prevent CSRF attacks -->
            {% csrf_token %}
        <input type="text" name="tournament" />
			</br><span class="errorMsg">{{ invalid }}</span>
            </br><input type="submit" value="Tournament Name"/>
    </form>
	<table class="tableBorder">
		{% for row in info %}
			<tr>
			{% for col in row %}
				<td>
                {% if forloop.first and col != "Tournament" %}
                    <a href="/view/{{ col }}">
                {% endif %}
                {{ col }}
                {% if forloop.first and col != "Tournament" %}
                    </a>
                {% endif %}
                </td>
			{% endfor %}
			</tr>
		{% endfor %}
	</table>
    </div>
	{% endblock main %}

</body>
</html>