{% extends "default.html" %}

<html>
<link rel="stylesheet" type="text/css" href="/static/layout.css"/>

<body>

	{% block main %}
    <div class="content">
	<p/>
	<table id="tablePrev">
        {%for row in info%}
            <tr>
            {%for col in row%}
			<td>{% if forloop.first and col != "Tournament" %}
                    <a href="/view/{{ col }}">
                {% endif %}
                {{ col }}
                {% if forloop.first and col != "Tournament" %}
                    </a>
                {% endif %}
                </td>
			{% endfor %}
			</tr>
		{% endfor %}
	</table>
    </div>
	{% endblock main %}


</body>
</html>