
<html>
<link rel="stylesheet" type="text/css" href="/static/layout.css"/>
<body>
<div class="content">
	{% block logo %}
 	<div>
		<img src="/static/logo.jpg" id="logo"/>
	</div> 
	{% endblock logo %}
	{% block header %}
	<div class="top_menu"><a href ="#">Home<a> - <a href ="#">Page 2<a> - <a href ="#">Page 3<a> - <a href ="#">Page 4<a></div>
	{% endblock header %}
	{% block main %}
	<h1>Register</h1>
	<form action="/register/" method="post" enctype="multipart/form-data">
            <!-- To prevent CSRF attacks -->
            {% csrf_token %}
		*indicates required field 	
		
		
                <p>First Name:* <input type="text" name="firstName"/> {{ firstName }}</p>
                <p>Last Name:* <input type="text" name="lastName"/> {{ lastName }}</p>
                <p>Email Address:* <input type="text" name="emailAddress"/> {{ emailAddress }}</p>
                <p>Password:* <input type="password" name="password"/> {{ password }}</p>
		<p>Confirm Password:* <input type="password" name="passwordCheck"/> </p>
                <p>Twitter ID: <input type="text" name="twitter"/> {{ twitter }}</p>
		<p>Profile Picture: <input type="file" name="picture"/> </p>
		
		<input type="submit" value="Register"/>
	</form>
	{% endblock main %}
</div>
</body>
</html>
