{% extends "default.html" %}
<html>
<body>
	{% block user %}{% endblock user %}
	{% block header %}{% endblock header %}
	{% block main %}
	<div>
	<h1>Forgot Password</h1>
        {% if error %}
            <p><span class="errorMsg">{{ error }}</span></p>
        {% endif %}
	
		<form action="/forgotpassword/" method="POST">{% csrf_token %}
				<p>What is the make and model of your first car?: <input type="text" name="q1"/></p>
				<p>What is your favorite sports team?: <input type="text" name="q2"/></p>
				<p>Who was your favorite teacher?: <input type="text" name="q3"/></p>
				<p>Enter new password: <input type="password" name="newpassword"/></p>
			<input type="submit" value="Submit"/>
		</form>
	</div>
	{% endblock main %}
</div>
</body>

</html>
