{% extends "default.html" %}
<html>
<body>
	{% block user %}{% endblock user %}
	{% block header %}{% endblock header %}
	{% block main %}
	<div>
	<h1>Forgot Password</h1>
        {% if error %}
            <p><span class="errorMsg">{{ error }}</span></p>
        {% endif %}
	
        <p>Question: {{ question }}</p>

		<form action="/forgotpassword/" method="POST">{% csrf_token %}
				<p>Answer: <input type="text" name="answer"/></p>
			<input type="submit" value="Submit"/>
		</form>
		<a href="/register/">Register new account</a> | <a href="#">Forgot my Password</a>
	</div>
	{% endblock main %}
</div>
</body>

</html>
