

.Content {
	width:970px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
}

.errorMsg
{
	color:red;
}

.top_menu
{
margin:5px;
padding:5px;
border: 1px solid black;

}

.inputBoxes
{
	position:absolute;
	left:70;
	
}

.inputText
{
	line-height:170%
}

.inputArea
{
	position:relative;
	left:50;
}

.tableCenter
{
	margin:0 auto;
}

.divCenter
{
	position:absolute;
	left:0;
	right:0;
	margin-left:0;
	margin-right:0;
}

.tableBorder
{
	margin:0 auto;
	text-align:center;
	border-collapse:collapse;
}

#logo
{
	display:block;
	margin-right:auto;
	margin-left:auto;
	
}

#register
{
	top:40;
	left:140;
}

body {
	margin:25px 0px; 
	padding:0px;
	text-align:center;
	width:100%;
}

tr
{
	border:1px solid black;
}

td
{
	padding:3px;
}

/*div
{
	color:red;
}
*/
